<nb-auth-block>
 <h2 class="title">Sign In</h2>
 <small class="form-text sub-title">Hello! Sign in with your username</small>
 <form autocomplete="" novalidate="" class="ng-touched ng-dirty ng-valid form" [formGroup]="form" (submit)="onSubmit(form.value)">
    <div class="form-group group d-flex flex-column my-4" [ngClass]="{ 'error': username.hasError('no-match') || (username.hasError('required') && (username.dirty || username.touched)) }">
      <label class="sr-only" for="input-username">Username</label>
      <input fullwidth id="input-username" name="username" nbinput formControlName="username" placeholder="Username" type="text" ng-reflect-name="username" class="input-full-width input-md ng-dirty ng-valid ng-touched" required>
      <small class="text-danger" *ngIf="username.hasError('required') && (username.dirty || username.touched)">Username is required</small>
      <small class="text-danger" *ngIf="username.hasError('no-match')">Invalid username</small>
    </div>
   <div class="form-group group d-flex flex-column my-4" [ngClass]="{ 'error': password.hasError('no-match') || (password.hasError('required') && (password.dirty || password.touched)) }">
     <label class="sr-only" for="input-password">Password</label>
     <input fullwidth id="input-password" name="password" nbinput formControlName="password" placeholder="Password" type="password" ng-reflect-name="password" class="input-full-width input-md ng-dirty ng-valid ng-touched" required>
     <small class="text-danger" *ngIf="password.hasError('required') && (password.dirty || password.touched)">Password is required</small>
     <small class="text-danger" *ngIf="password.hasError('no-match')">Invalid password</small>
   </div>
   <div class="links d-flex justify-content-between align-items-center my-2">
     <div class="form-group group d-flex align-items-center m-0">
       <input id="rememberMe" name="rememberMe" nbinput formControlName="rememberMe" type="checkbox" ng-reflect-name="rememberMe" class="ng-dirty ng-valid ng-touched m-0">
       <label for="rememberMe" class="non-order m-0 ml-2">Remember Me</label>
     </div>
     <small class="form-text">
       <a routerLink="/auth/forgotten-credentials">Forgotten credentials?</a>
     </small>
   </div>
   <button fullwidth nbbutton class="col-sm-12 p-3" [ngClass]="{'btn-disabled': !form.valid && form.touched}" aria-disabled="false">Sign In</button>
 </form>
 <div class="links d-flex justify-content-between">
   <small class="form-text">
     Don't have an account? <strong><a routerLink="/auth/request-registration">Register</a>.</strong>
   </small>
 </div>
</nb-auth-block>
