<div [nbSpinner]="isLoading" nbSpinnerMessage="{{ 'LOADING' | translate }}" nbSpinnerStatus="primary">
  <nb-auth-block>
    <h2 class="title">{{ 'SIGN_IN' | translate }}</h2>
    <small class="form-text sub-title">{{ 'SIGN_IN_MSG' | translate }}</small>
    <form autocomplete="" novalidate="" class="ng-touched ng-dirty ng-valid form" [formGroup]="form" (submit)="onSubmit(form.value)">
      <div class="form-group group d-flex flex-column my-4" [ngClass]="{ 'error': username.hasError('no-match') || (username.hasError('required') && (username.dirty || username.touched)) }">
        <label class="sr-only" for="input-username">{{ 'USERNAME' | translate }}</label>
        <input fullwidth id="input-username" name="username" nbinput formControlName="username" placeholder="Username" type="text" ng-reflect-name="username" class="input-full-width input-md ng-dirty ng-valid ng-touched" required autocomplete="username">
        <small class="text-danger" *ngIf="username.hasError('required') && (username.dirty || username.touched)">{{ 'USERNAME_REQUIRED' | translate }}</small>
        <small class="text-danger" *ngIf="username.hasError('no-match')">{{ 'USERNAME_NO_MATCH' | translate }}</small>
      </div>
      <div class="form-group group d-flex flex-column my-4" [ngClass]="{ 'error': password.hasError('no-match') || (password.hasError('required') && (password.dirty || password.touched)) }">
        <label class="sr-only" for="input-password">{{ 'PASSWORD' | translate }}</label>
        <input fullwidth id="input-password" name="password" nbinput formControlName="password" placeholder="Password" type="password" ng-reflect-name="password" class="input-full-width input-md ng-dirty ng-valid ng-touched" required autocomplete="current-password">
        <small class="text-danger" *ngIf="password.hasError('required') && (password.dirty || password.touched)">{{ 'PASSWORD_REQUIRED' | translate }}</small>
        <small class="text-danger" *ngIf="password.hasError('no-match')">{{ 'PASSWORD_INVALID' | translate }}</small>
      </div>
      <div class="links d-flex justify-content-between align-items-center my-2">
        <div class="form-group group d-flex align-items-center m-0">
          <input id="rememberMe" name="rememberMe" nbinput formControlName="rememberMe" type="checkbox" ng-reflect-name="rememberMe" class="ng-dirty ng-valid ng-touched m-0">
          <label for="rememberMe" class="non-order m-0 ml-2">{{ 'REMEMBER_ME' | translate }}</label>
        </div>
        <small class="form-text">
          <a routerLink="/auth/forgotten-credentials">{{ 'FORGOTTEN_CREDS' | translate }}?</a>
        </small>
      </div>
      <button fullwidth nbbutton class="btn btn-primary col-sm-12 p-3" [ngClass]="{'btn-disabled': !form.valid && form.touched}" aria-disabled="false">{{ 'SIGN_IN' | translate }}</button>
    </form>
    <div class="links d-flex justify-content-between">
      <small class="form-text">
        {{ 'LOGIN_REGISTER_MSG' | translate }} <strong><a routerLink="/auth/request-registration">{{ 'REGISTER' | translate }}</a>.</strong>
      </small>
    </div>
  </nb-auth-block>
</div>
