<div id="content" #content>
  <nb-card [nbSpinner]="isLoading" nbSpinnerMessage="{{ 'LOADING' | translate }}" nbSpinnerStatus="primary">

    <nb-card-header>
      <div class="d-flex flex-wrap justify-content-between">
        <h2 class="d-flex align-items-center mb-2">
          <button [routerLink]="['/pages/matches/']" class="close float-left mr-3">
            <i class="icon ion-ios-arrow-back fs-larger"></i>
          </button>
          {{ 'MATCH_DETAIL_FOR' | translate }} '<b>{{ match?.title }}</b>'
        </h2>
        <div class="d-flex">
          <button class="btn btn-primary mx-2" (click)="printDetails(false)">
            <i class="icon ion-ios-print"></i> {{ 'PRINT' | translate }}
          </button>
          <button class="btn btn-primary mx-2" (click)="printDetails(true)">
            <i class="icon ion-ios-save"></i> {{ 'SAVE' | translate }}
          </button>
        </div>
      </div>
      {{ 'PLACE' | translate}}: <span class="text-muted fs-big">{{ match?.place.name }}</span><br>
      {{ 'DATE' | translate }}: <span class="text-muted fs-big">{{ match?.date | localDate }}</span>
    </nb-card-header>

    <nb-card-body>

      <div class="row">
        <div class="col-sm-12 col-lg-6 p-3">
          <h4>{{ 'EOPEN' | translate }}:</h4>
          <span class="text-muted">{{ match?.enrollment.enrollmentOpens | localDate }}</span>
        </div>

        <div class="col-sm-12 col-lg-6 p-3">
          <h4>{{ 'ECLOSE' | translate }}:</h4>
          <span class="text-muted">{{ match?.enrollment.enrollmentCloses | localDate }}</span>
        </div>

        <div class="col-sm-12 col-lg-6 p-3">
          <h4>{{ 'EPLAYERS' | translate }}:</h4>
          <span class="text-muted">{{ playersEnrolled() }}</span>
        </div>

        <div class="col-sm-12 col-lg-6 p-3">
          <h4>{{ 'NOTE' | translate }}:</h4>
          <span class="text-muted">{{ match?.note || '---' }}</span>
        </div>
      </div>

      <div class="row">

        <table class="table">
          <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">{{ 'NAME' | translate }}</th>
            <th scope="col">{{ 'USERNAME' | translate }}</th>
            <th scope="col">{{ 'ENROLLED_ON' | translate }}</th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let player of match?.enrollment.players; let i = index">
              <th scope="row">{{ i+1 }}</th>
              <td>{{ player.info.name }} (#{{ player.info.number }})</td>
              <td>{{ player.info.username }}</td>
              <td>{{ player.enrolledOn }}</td>
            </tr>
          </tbody>
        </table>

      </div>
    </nb-card-body>

  </nb-card>
</div>
