<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-body class="row">

        <div class="col-sm-12 col-lg-3 border-dark">
          <img src="https://via.placeholder.com/200" alt="Profile Picture">
        </div>

        <div class="col-sm-12 col-lg-9 border-info">
          <header class="header mb-2">
            <h2>Filip Ditrich</h2>
            <span class="text-muted">@admin</span>
          </header>

          <nb-tabset>
            <nb-tab tabTitle="Info" tabIcon="ion-ios-information-circle-outline" [responsive]="true">
              <form action="" class="form">
                <table class="table table-borderless">
                  <tbody>
                  <tr class="d-flex align-items-center">
                    <td>Full Name:</td>
                    <td class="form-group group">
                      <span>Filip Ditrich</span>
                    </td>
                  </tr>

                  <tr class="d-flex align-items-center">
                    <td>Full Name:</td>
                    <td class="form-group group">
                      <span>Filip Ditrich</span>
                    </td>
                  </tr>

                  <tr class="d-flex align-items-center">
                    <td>Full Name:</td>
                    <td class="form-group group">
                      <span>Filip Ditrich</span>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </form>
            </nb-tab>
            <nb-tab tabTitle="Match History" tabIcon="ion-ios-filing" [responsive]="true">
              match history
            </nb-tab>
            <nb-tab tabTitle="Security" tabIcon="ion-ios-lock" [responsive]="true">
              security
            </nb-tab>
          </nb-tabset>

        </div>

      </nb-card-body>
    </nb-card>
  </div>
</div>
