<div [nbSpinner]="isLoading" nbSpinnerMessage="{{ 'LOADING' | translate }}" nbSpinnerStatus="primary">
  <nb-auth-block>
    <h2 class="title">{{ 'PASS_RES_TITLE' | translate }}</h2>
    <small class="form-text sub-title">{{ 'PASS_RES_MSG' | translate }}</small>
    <form fullwidth novalidate="" [formGroup]="form" (submit)="onSubmit(form.value)" class="ng-touched ng-dirty ng-valid form login-form row mx-auto">
      <div class="group d-flex flex-column col-sm-12"
           [ngClass]="{ 'error': (password.hasError('required') && (password.dirty || password.touched)) || password.hasError('new-is-old') }">
        <input type="password" id="password" formControlName="password">
        <label for="password">{{ 'PASSWORD_NEW' | translate }}</label>
        <div class="progress mt-2" style="height: 5px;" *ngIf="!password.hasError('required')">
          <div class="progress-bar"
               [ngStyle]="{ 'width': 'calc((100% / 3) * ' + (password.getError('passwordStrength') ? password.getError('passwordStrength').strength : 3) }"
               [ngClass]="{
                 'bg-danger' : password.getError('passwordStrength')?.strength === 1,
                 'bg-warning' : password.getError('passwordStrength')?.strength === 2,
                 'bg-success' : !password.hasError('passwordStrength') }"></div>
        </div>
        <small class="text-muted">{{ 'PASSWORD_HINT' | translate }}</small>
        <small class="text-danger" *ngIf="password.hasError('required') && (password.dirty || password.touched)">{{ 'PASSWORD_REQUIRED' | translate }}</small>
        <small class="text-danger" *ngIf="password.hasError('new-is-old')">{{ 'PASSWORD_SAME_AS_OLD' | translate }}</small>
      </div>
      <div class="group d-flex flex-column col-sm-12"
           [ngClass]="{ 'error' : (passwordSubmit.invalid || (form.hasError('passwordConfirmation') && password.value !== null)) && (passwordSubmit.dirty || passwordSubmit.touched) }">
        <input type="password" id="passwordSubmit" formControlName="passwordSubmit">
        <label for="passwordSubmit">{{ 'PASSWORD_CONFIRM' | translate }}</label>
        <small class="text-danger" *ngIf="passwordSubmit.hasError('required') && (passwordSubmit.dirty || passwordSubmit.touched)">{{ 'PASSWORD_CONFIRM_REQUIRED' | translate }}</small>
        <small class="text-danger" *ngIf="form.hasError('passwordConfirmation') && password.value !== null && (passwordSubmit.dirty || passwordSubmit.touched)">{{ 'PASSWORD_DO_NOT_MATCH' | translate }}</small>
      </div>
      <div class="group d-flex flex-column col-sm-12 mt-4">
        <button fullwidth nbbutton class="btn btn-primary col-sm-12 p-3" [ngClass]="{'btn-disabled': !form.valid && form.touched}" aria-disabled="false">{{ 'PASS_RES_BTN' | translate }}</button>
      </div>
    </form>
  </nb-auth-block>
</div>
