// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/all';

// global app font size
@import './font-size';

// loading progress bar theme
@import './pace.theme';

@import './bootstrap-rtl';

// ng-pick-datetime
@import '~ng-pick-datetime/assets/style/picker.min.css';

// pretty checkbox
@import '~pretty-checkbox/src/pretty-checkbox.scss';

// context menu
@import '~@angular/cdk/overlay-prebuilt.css';
.cdk-overlay-container { z-index: 9999999 !important; }

// custom form styling (ns)
@import '../../../assets/styles/forms';
@import '../../../assets/styles/buttons';
@import '../../../assets/styles/profile-picture';
@import '../../../assets/styles/smart-table';
@import '../../../assets/styles/font-size';

.cursor-pointer { cursor: pointer;}
.cursor-grab { cursor: grab; }
.data-row-old { background: rgba(0, 0, 0, 0.1) !important; opacity: 0.2; }
.data-row-locked { background: rgba(0, 0, 0, 0.1) !important; opacity: 0.5; }
.row-data-rejected { background: rgba(255, 0, 0, 0.15) !important; }
.row-data-approved { background: rgba(0, 255, 0, 0.15) !important; }
.row-data-registered { opacity: 0.25; }
.row-data-written { opacity: 0.5 }

.row-data-danger { background: rgba(255, 0, 0, 0.15) !important; }
.row-data-warning { background: rgba(255, 205, 75, 0.15) !important; }
.row-data-success { background: rgba(59, 255, 48, 0.15) !important; }
.row-data-old { background: rgba(0, 0, 0, 0.05) !important; }

.disabled { pointer-events: none !important; opacity: 0.25; }
.pointer-events-none { pointer-events: none !important; }
nb-spinner { z-index: 998 !important; }

// ng-select
@import '~@ng-select/ng-select/themes/default.theme.css';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();

  // loading progress bar
  @include ngx-pace-theme();

  // fixed in rc.9 and can be removed after upgrade
  .custom-control .custom-control-indicator {
    border-radius: 50%; // TODO: quickfix for https://github.com/akveo/nebular/issues/275
  }
  @include bootstrap-rtl();
};

//.spinner {
//  height: 50px;
//  width: 50px;
//  -webkit-border-radius: 100%;
//  -moz-border-radius: 100%;
//  border-radius: 100%;
//  border: 10px solid #5ABB63;
//  border-top-color: #fff;
//  border-bottom-color: #fff;
//  animation: rotation 2s linear infinite;
//}
//
//@keyframes rotation {
//  0% {
//    -webkit-transform: rotate(0deg);
//    -moz-transform: rotate(0deg);
//    -ms-transform: rotate(0deg);
//    -o-transform: rotate(0deg);
//    transform: rotate(0deg);
//  }
//
//  100% {
//    -webkit-transform: rotate(360deg);
//    -moz-transform: rotate(360deg);
//    -ms-transform: rotate(360deg);
//    -o-transform: rotate(360deg);
//    transform: rotate(360deg);
//}
//
//}
