<div class="header-container"
     [class.left]="position === 'normal'"
     [class.right]="position === 'inverse'">
  <div class="logo-containter">
    <a (click)="toggleSidebar()" href="#" class="navigation"><i class="nb-menu"></i></a>
    <span class="logo" (click)="goToHome()">{{ 'appName' | sysinfo }}</span>
  </div>
  <!--<ns-theme-switcher></ns-theme-switcher>-->
</div>

<div class="header-container">
  <!--<ns-layout-direction-switcher></ns-layout-direction-switcher>-->
  <nb-actions
    size="medium"
    [class.right]="position === 'normal'"
    [class.left]="position === 'inverse'">
    <!--<nb-action icon="nb-gear" class="toggle-layout" (click)="toggleSettings()"></nb-action>-->
    <nb-action>
      <nb-user
        [nbContextMenu]="userMenu"
        [name]="user.name"
        [title]="'@' + user.username">
      </nb-user>
    </nb-action>
    <!--<nb-action class="control-item" icon="nb-notifications"></nb-action>-->
    <!--<nb-action class="control-item" icon="nb-email"></nb-action>-->
    <!--<nb-action class="control-item">-->
      <!--<nb-search type="rotate-layout" (click)="startSearch()"></nb-search>-->
    <!--</nb-action>-->
  </nb-actions>
</div>
