<div class="modal-header">
  <h3>{{ 'CREATE_MATCH' | translate }}</h3>
  <button class="close" aria-label="Close" (click)="closeModal(false)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body row">
  <div class="col-sm-12">
    <nb-card [nbSpinner]="isLoading" nbSpinnerMessage="{{ 'LOADING' | translate }}" nbSpinnerStatus="primary">

      <nb-card-body>
        <form novalidate="" class="ng-touched ng-dirty ng-valid form" [formGroup]="form" (submit)="submitForm(form.value)">

          <!-- Title & Group -->
          <div class="row">

            <div class="form-group group d-flex flex-column col-sm-6"
                 [ngClass]="{ 'error' : title.invalid && (title.dirty || title.touched) }">
              <label for="title">{{ 'TITLE' | translate }}*</label>
              <input fullwidth id="title" name="title" nbinput formControlName="title" type="text" ng-reflect-name="title" class="input-full-width input-md ng-dirty ng-valid ng-touched" required>
              <small class="text-danger" *ngIf="title.hasError('required') && (title.dirty || title.touched)">{{ 'TITLE_REQUIRED' | translate }}</small>
              <small class="text-danger" *ngIf="title.hasError('isString')">{{ 'MATCH_TITLE_NOT_STRING' | translate }}</small>
            </div>

            <!-- Group -->
            <div class="form-group group d-flex flex-column col-sm-6"
                 [ngClass]="{ 'error' : group.invalid && (group.dirty || group.touched) }">
              <label for="title">{{ 'GROUP' | translate }}*</label>
              <select
                name="group"
                id="group"
                formControlName="group"
                class="input-full-width input-md ng-dirty ng-valid ng-touched" required>
                <option value="0" disabled >---</option>
                <option
                  *ngFor="let group of groupsArray"
                  value="{{group._id}}">
                  {{group.name}}
                </option>
              </select>
              <small class="text-danger" *ngIf="group.hasError('required') && (group.dirty || group.touched)">{{ 'GROUP_REQUIRED' | translate }}</small>
            </div>
          </div>

          <!-- Date & Place -->
          <div class="row">

            <!-- Date -->
            <div class="form-group group d-flex flex-column col-sm-6"
                 [ngClass]="{ 'error' : date.invalid && (date.dirty || date.touched) }">
              <label for="title">{{ 'DATE' | translate }}*</label>
              <div class="input-with-buttons append">

                <input
                  [owlDateTimeTrigger]="dt"
                  [owlDateTime]="dt"
                  [min]="now"
                  id="date" name="date" formControlName="date" ng-reflect-name="date"
                  class="input-full-width input-md ng-dirty ng-valid ng-touched" required>

                <owl-date-time
                  autoClose
                  dataType="string"
                  pickerMode="dialog"
                  #dt>
                </owl-date-time>

                <div class="buttons">
                  <button type="button"><i class="icon ion-ios-calendar"></i></button>
                </div>

              </div>
              <small class="text-danger" *ngIf="date.hasError('required') && (date.dirty || date.touched)">{{ 'DATE_REQUIRED' | translate }}</small>
            </div>

            <!-- Place -->
            <div class="form-group group d-flex flex-column col-sm-6"
                 [ngClass]="{ 'error' : place.invalid && (place.dirty || place.touched) }">
              <label for="title">{{ 'PLACE' | translate }}*</label>
              <select name="place" id="place" formControlName="place" class="input-full-width input-md ng-dirty ng-valid ng-touched" required>
                <option value="0" disabled>---</option>
                <option
                  *ngFor="let place of placesArray"
                  value="{{place._id}}">
                  {{place.name}}
                </option>
              </select>
              <small class="text-danger" *ngIf="place.hasError('required') && (place.dirty || place.touched)">{{ 'PLACE_REQUIRED' | translate }}</small>
            </div>
          </div>

          <hr>

          <!-- Enrollment -->
          <div class="row">

            <!-- Enrollment Opens -->
            <div class="form-group group d-flex flex-column col-sm-5"
                 [ngClass]="{
                 'error' : (enrollmentOpens.invalid && (enrollmentOpens.dirty || enrollmentOpens.touched)) || form.hasError('dateLessThan'),
                 'disabled' : !date.value }">
              <label for="enrollmentOpens">{{ 'EOPEN' | translate }}</label>
              <div class="input-with-buttons append">

                <input
                  [owlDateTimeTrigger]="enrollmentOpensODT"
                  [owlDateTime]="enrollmentOpensODT"
                  [min]="now"
                  [max]="date.value"
                  id="enrollmentOpens" name="enrollmentOpens" formControlName="enrollmentOpens" ng-reflect-name="enrollmentOpens"
                  class="input-full-width input-md ng-dirty ng-valid ng-touched" required>

                <owl-date-time
                  autoClose
                  dataType="string"
                  pickerMode="dialog"
                  #enrollmentOpensODT>
                </owl-date-time>

                <div class="buttons">
                  <button type="button"><i class="icon ion-ios-calendar"></i></button>
                </div>

              </div>
              <small class="text-danger" *ngIf="enrollmentOpens.invalid && (enrollmentOpens.dirty || enrollmentOpens.touched)">{{ 'DATE_INVALID' | translate }}</small>
              <small class="text-danger" *ngIf="form.hasError('dateLessThan')">{{ 'EOPEN_AFTER_SAME' | translate }}</small>
            </div>

            <!-- Enrollment Closes -->
            <div class="form-group group d-flex flex-column col-sm-5"
                 [ngClass]="{
                 'error' : (enrollmentCloses.invalid && (enrollmentCloses.dirty || enrollmentCloses.touched)) || form.hasError('dateLessThan'),
                 'disabled' : !date.value }">
              <label for="enrollmentCloses">{{ 'ECLOSE' | translate }}</label>
              <div class="input-with-buttons append">

                <input
                  [owlDateTimeTrigger]="enrollmentClosesODT"
                  [owlDateTime]="enrollmentClosesODT"
                  [min]="now"
                  [max]="date.value"
                  id="enrollmentCloses" name="enrollmentCloses" formControlName="enrollmentCloses" ng-reflect-name="enrollmentCloses"
                  class="input-full-width input-md ng-dirty ng-valid ng-touched" required>

                <owl-date-time
                  autoClose
                  dataType="string"
                  pickerMode="dialog"
                  #enrollmentClosesODT>
                </owl-date-time>

                <div class="buttons">
                  <button type="button"><i class="icon ion-ios-calendar"></i></button>
                </div>

              </div>
              <small class="text-danger" *ngIf="enrollmentCloses.invalid && (enrollmentCloses.dirty || enrollmentCloses.touched)">{{ 'DATE_INVALID' | translate }}</small>
              <small class="text-danger" *ngIf="form.hasError('dateLessThan')">{{ 'ECLOSE_BEFORE_SAME' | translate }}</small>
            </div>

            <!-- Enrollment Max Capacity -->
            <div class="form-group group d-flex flex-column col-sm-2"
                 [ngClass]="{
                 'error' : (maxCap.invalid && (maxCap.dirty || maxCap.touched)) || form.hasError('dateLessThan')}">
              <label for="maxCap">{{ 'EMAX' | translate }}</label>
              <input fullwidth id="maxCap" name="maxCap" nbinput formControlName="maxCap" type="number" ng-reflect-name="maxCap" class="input-full-width input-md ng-dirty ng-valid ng-touched" required>
              <small class="text-danger" *ngIf="maxCap.hasError('required') && (maxCap.dirty || maxCap.touched)">{{ 'EMAX_REQUIRED' | translate }}</small>
              <small class="text-danger" *ngIf="maxCap.hasError('min') && (maxCap.dirty || maxCap.touched)">{{ 'EMAX_MIN' | translate }}</small>
            </div>
          </div>

          <hr>

          <!-- Reminders -->
          <div class="row">

            <!-- Reminder Date -->
            <div class="form-group group d-flex flex-column col-sm-6"
                 [ngClass]="{
                 'error' : (reminderDate.invalid && (reminderDate.dirty || reminderDate.touched)) || form.hasError('dateLessThan'),
                 'disabled' : !date.value }">
              <label for="reminderDate">{{ 'REMINDER_DATE' | translate }}</label>
              <div class="input-with-buttons append">

                <input
                  [owlDateTimeTrigger]="reminderDateODT"
                  [owlDateTime]="reminderDateODT"
                  [min]="now"
                  [max]="enrollmentCloses.value"
                  id="reminderDate" name="reminderDate" formControlName="reminderDate" ng-reflect-name="reminderDate"
                  class="input-full-width input-md ng-dirty ng-valid ng-touched" required>

                <owl-date-time
                  autoClose
                  dataType="string"
                  pickerMode="dialog"
                  #reminderDateODT>
                </owl-date-time>

                <div class="buttons">
                  <button type="button"><i class="icon ion-ios-calendar"></i></button>
                </div>

              </div>
              <small class="text-danger" *ngIf="reminderDate.invalid && (reminderDate.dirty || reminderDate.touched)">{{ 'DATE_INVALID' | translate }}</small>
            </div>

            <!-- Reminder Teams -->
            <div class="form-group group d-flex flex-column col-sm-6"
                 [ngClass]="{ 'error' : reminderTeams.invalid && (reminderTeams.dirty || reminderTeams.touched) }">
              <label for="reminderTeams">{{ 'REMINDER_TEAMS' | translate }}</label>
              <ng-select
                #reminderTeamsID
                [items]="teamsArray"
                [multiple]="true"
                [clearable]="true"
                [closeOnSelect]="false"
                [bindValue]="'_id'"
                [bindLabel]="'name'"
                id="reminderTeams" class="ng-select-input-custom flex-grow-1">
              </ng-select>
              <small class="text-danger" *ngIf="reminderTeams.invalid && (reminderTeams.dirty || reminderTeams.touched)">{{ 'REMINDER_TEAMS_INVALID' | translate }}</small>

            </div>

          </div>

          <!-- Note -->
          <div class="form-group group d-flex flex-column">
            <label for="note">{{ 'NOTE' | translate }}</label>
            <textarea fullwidth name="note" nbinput id="note" rows="2" formControlName="note" ng-reflect-name="note" class="input-full-width input-md ng-dirty ng-valid ng-touched"></textarea>
          </div>

          <hr>

          <!-- Submit -->
          <div class="form-group mt-2">
            <button nbbutton class="col-sm-12 p-3" [ngClass]="{'btn-disabled': !form.valid }">{{ 'CREATE_MATCH' | translate }}</button>
          </div>

        </form>
      </nb-card-body>

    </nb-card>
  </div>
</div>


