<div class="row">
  <div class="col-sm-12">
    <nb-card [nbSpinner]="isLoading" nbSpinnerMessage="{{ 'LOADING' | translate }}" nbSpinnerStatus="primary">

      <nb-card-header>
        <button [routerLink]="['/pages/admin/matches']" class="close float-left mr-3">
          <i class="icon ion-ios-arrow-back fs-larger"></i>
        </button>
        <h2>{{ 'EDIT' | translate }} '{{match?.title}}'</h2>
      </nb-card-header>

      <nb-card-body>

        <form novalidate="" class="ng-touched ng-dirty ng-valid form" [formGroup]="form">

          <!-- Title & Group -->
          <div class="row">

            <div class="form-group group d-flex flex-column col-sm-6"
                 [ngClass]="{ 'error' : title.invalid && (title.dirty || title.touched) }">
              <label for="title">{{ 'TITLE' | translate }}*</label>
              <input fullwidth id="title" name="title" nbinput formControlName="title" type="text" ng-reflect-name="title" class="input-full-width input-md ng-dirty ng-valid ng-touched" required>
              <small class="text-danger" *ngIf="title.hasError('required') && (title.dirty || title.touched)">{{ 'TITLE_REQUIRED' | translate }}</small>
            </div>

            <!-- Group -->
            <div class="form-group group d-flex flex-column col-sm-6"
                 [ngClass]="{ 'error' : group.invalid && (group.dirty || group.touched) }">
              <label for="title">{{ 'GROUP' | translate }}*</label>
              <select name="group" id="group" formControlName="group" class="input-full-width input-md ng-dirty ng-valid ng-touched" required>
                <option
                  *ngFor="let group of groupsArray"
                  value="{{group._id}}">
                  {{group.name}}
                </option>
              </select>
              <small class="text-danger" *ngIf="group.hasError('required') && (group.dirty || group.touched)">{{ 'GROUP_REQUIRED' | translate }}</small>
            </div>
          </div>

          <!-- Date & Place -->
          <div class="row">

            <!-- Date -->
            <div class="form-group group d-flex flex-column col-sm-6"
                 [ngClass]="{ 'error' : date.invalid && (date.dirty || date.touched) }">
              <label for="title">{{ 'DATE' | translate }}*</label>
              <div class="calendar">

                <input
                  [owlDateTimeTrigger]="dt"
                  [owlDateTime]="dt"
                  [min]="now"
                  id="date" name="date" formControlName="date" ng-reflect-name="date"
                  class="input-full-width input-md ng-dirty ng-valid ng-touched" required>

                <owl-date-time
                  autoClose
                  dataType="string"
                  pickerMode="dialog"
                  #dt>
                </owl-date-time>

                <div class="buttons">
                  <button type="button"><i class="icon ion-ios-calendar"></i></button>
                </div>

              </div>
              <small class="text-danger" *ngIf="date.hasError('required') && (date.dirty || date.touched)">{{ 'DATE_REQUIRED' | translate }}</small>
            </div>

            <!-- Place -->
            <div class="form-group group d-flex flex-column col-sm-6"
                 [ngClass]="{ 'error' : place.invalid && (place.dirty || place.touched) }">
              <label for="title">{{ 'PLACE' | translate }}*</label>
              <select name="place" id="place" formControlName="place" class="input-full-width input-md ng-dirty ng-valid ng-touched" required>
                <option
                  *ngFor="let place of placesArray"
                  value="{{place._id}}">
                  {{place.name}}
                </option>
              </select>
              <small class="text-danger" *ngIf="place.hasError('required') && (place.dirty || place.touched)">{{ 'PLACE_REQUIRED' | translate }}</small>
            </div>
          </div>

          <hr>

          <!-- Enrollment -->
          <div class="row">

            <!-- Enrollment Opens -->
            <div class="form-group group d-flex flex-column col-sm-5"
                 [ngClass]="{ 'error' : enrollmentOpens.invalid && (enrollmentOpens.dirty || enrollmentOpens.touched), 'disabled' : !date.value }">
              <label for="enrollmentOpens">{{ 'EOPEN' | translate }}</label>
              <div class="calendar">

                <input
                  [owlDateTimeTrigger]="enrollmentOpensODT"
                  [owlDateTime]="enrollmentOpensODT"
                  [min]="match?.enrollment?.enrollmentOpens"
                  [max]="enrollmentCloses.value"
                  id="enrollmentOpens" name="enrollmentOpens" formControlName="enrollmentOpens" ng-reflect-name="enrollmentOpens"
                  class="input-full-width input-md ng-dirty ng-valid ng-touched" required>

                <owl-date-time
                  autoClose
                  dataType="string"
                  pickerMode="dialog"
                  #enrollmentOpensODT>
                </owl-date-time>

                <div class="buttons">
                  <button type="button"><i class="icon ion-ios-calendar"></i></button>
                </div>

              </div>
              <small class="text-danger" *ngIf="enrollmentOpens.invalid">{{ 'DATE_INVALID' | translate }}</small>
            </div>

            <!-- Enrollment Closes -->
            <div class="form-group group d-flex flex-column col-sm-5"
                 [ngClass]="{ 'error' : enrollmentCloses.invalid && (enrollmentCloses.dirty || enrollmentCloses.touched), 'disabled' : !date.value }">
              <label for="enrollmentCloses">{{ 'ECLOSE' | translate }}</label>
              <div class="calendar">

                <input
                  [owlDateTimeTrigger]="enrollmentClosesODT"
                  [owlDateTime]="enrollmentClosesODT"
                  [min]="enrollmentOpens.value"
                  [max]="date.value"
                  id="enrollmentCloses" name="enrollmentCloses" formControlName="enrollmentCloses" ng-reflect-name="enrollmentCloses"
                  class="input-full-width input-md ng-dirty ng-valid ng-touched" required>

                <owl-date-time
                  autoClose
                  dataType="string"
                  pickerMode="dialog"
                  #enrollmentClosesODT>
                </owl-date-time>

                <div class="buttons">
                  <button type="button"><i class="icon ion-ios-calendar"></i></button>
                </div>

              </div>
              <small class="text-danger" *ngIf="enrollmentCloses.invalid">{{ 'DATE_INVALID' | translate }}</small>
            </div>

            <!-- Enrollment Max Capacity -->
            <div class="form-group group d-flex flex-column col-sm-2"
                 [ngClass]="{
                 'error' : (maxCap.invalid && (maxCap.dirty || maxCap.touched)) }">
              <label for="maxCap">{{ 'EMAX' | translate }}*</label>
              <input fullwidth id="maxCap" name="maxCap" nbinput formControlName="maxCap" type="number" ng-reflect-name="maxCap" class="input-full-width input-md ng-dirty ng-valid ng-touched" required>
              <small class="text-danger" *ngIf="maxCap.hasError('required') && (maxCap.dirty || maxCap.touched)">{{ 'EMAX_REQUIRED' | translate }}</small>
              <small class="text-danger" *ngIf="maxCap.hasError('min') && (maxCap.dirty || maxCap.touched)">{{ 'EMAX_MIN' | translate }}</small>
            </div>
          </div>

          <hr>

          <!-- Note -->
          <div class="form-group group d-flex flex-column">
            <label for="title">{{ 'NOTE' | translate }}</label>
            <textarea fullwidth name="note" nbinput id="note" rows="2" formControlName="note" ng-reflect-name="note" class="input-full-width input-md ng-dirty ng-valid ng-touched"></textarea>
          </div>

          <hr>

          <!-- TODO: Only Admin -->
          <section>
            <div class="row">

              <!-- Created At -->
              <div class="form-group group d-flex flex-column col-sm-6"
                   [ngClass]="{ 'error' : createdAt.invalid && (createdAt.dirty || createdAt.touched), 'disabled' : !date.value }">
                <label for="createdAt">{{ 'CREATED_AT' | translate }}</label>
                <div class="calendar">

                  <input
                    [owlDateTimeTrigger]="createdAtODT"
                    [owlDateTime]="createdAtODT"
                    [max]="now"
                    id="createdAt" name="createdAt" formControlName="createdAt" ng-reflect-name="createdAt"
                    class="input-full-width input-md ng-dirty ng-valid ng-touched" required>

                  <owl-date-time
                    autoClose
                    dataType="string"
                    pickerMode="dialog"
                    #createdAtODT>
                  </owl-date-time>

                  <div class="buttons">
                    <button type="button"><i class="icon ion-ios-calendar"></i></button>
                  </div>

                </div>
                <small class="text-danger" *ngIf="createdAt.invalid">{{ 'DATE_INVALID' | translate }}</small>
              </div>

              <!-- Created By -->
              <div class="form-group group d-flex flex-column col-sm-6"
                   [ngClass]="{ 'error' : createdBy.invalid && (createdBy.dirty || createdBy.touched) }">
                <label for="createdBy">{{ 'CREATED_BY' | translate }}</label>
                <select name="createdBy" id="createdBy" formControlName="createdBy" class="input-full-width input-md ng-dirty ng-valid ng-touched" required>
                  <option
                    *ngFor="let user of usersArray"
                    value="{{user._id}}">
                    {{user.name}}
                  </option>
                </select>
                <small class="text-danger" *ngIf="createdBy.hasError('required') && (createdBy.dirty || createdBy.touched)">{{ 'CREATED_BY_REQUIRED' | translate }}</small>
              </div>

            </div>

            <div class="row">

              <!-- Updated At -->
              <div class="form-group group d-flex flex-column col-sm-6"
                   [ngClass]="{ 'error' : updatedAt.invalid && (updatedAt.dirty || updatedAt.touched), 'disabled' : !date.value }">
                <label for="updatedAt">{{ 'UPDATED_AT' | translate }}</label>
                <div class="calendar">

                  <input
                    [owlDateTimeTrigger]="updatedAtODT"
                    [owlDateTime]="updatedAtODT"
                    [min]="createdAt.value"
                    [max]="now"
                    id="updatedAt" name="updatedAt" formControlName="updatedAt" ng-reflect-name="updatedAt"
                    class="input-full-width input-md ng-dirty ng-valid ng-touched" required>

                  <owl-date-time
                    autoClose
                    dataType="string"
                    pickerMode="dialog"
                    #updatedAtODT>
                  </owl-date-time>

                  <div class="buttons">
                    <button type="button"><i class="icon ion-ios-calendar"></i></button>
                  </div>

                </div>
                <small class="text-danger" *ngIf="updatedAt.invalid">{{ 'DATE_INVALID' | translate }}</small>
              </div>

              <!-- Updated By -->
              <div class="form-group group d-flex flex-column col-sm-6"
                   [ngClass]="{ 'error' : updatedBy.invalid && (updatedBy.dirty || updatedBy.touched) }">
                <label for="updatedBy">{{ 'UPDATED_BY' | translate }}</label>
                <select name="updatedBy" id="updatedBy" formControlName="updatedBy" class="input-full-width input-md ng-dirty ng-valid ng-touched" required>
                  <option
                    *ngFor="let user of usersArray"
                    value="{{user._id}}">
                    {{user.name}}
                  </option>
                </select>
                <small class="text-danger" *ngIf="updatedBy.hasError('required') && (updatedBy.dirty || updatedBy.touched)">{{ 'UPDATED_BY_REQUIRED' | translate }}</small>
              </div>

            </div>
          </section>

          <hr>

          <!-- Submit -->
          <div class="form-group mt-2">
            <button nbbutton class="col-sm-3 mr-sm-0 mr-md-3 p-3 button btn-danger" aria-disabled="false" (click)="deleteMatch()">{{ 'DELETE' | translate }}</button>
            <button nbbutton class="col-sm-3 p-3 button btn-primary" [ngClass]="{'btn-disabled': !form.valid || isSame() }" aria-disabled="false" (click)="submitForm(form.value)">{{ 'SAVE_CHANGES' | translate }}</button>
          </div>

        </form>
      </nb-card-body>

    </nb-card>
  </div>
</div>
