@import 'variables';

.fs-tiny { font-size: $fs_tiny; }
.fs-smallest { font-size: $fs_smallest; }
.fs-smaller { font-size: $fs_smaller; }
.fs-small { font-size: $fs_small; }
.fs-normal { font-size: $fs_normal; }
.fs-big { font-size: $fs_big; }
.fs-bigger { font-size: $fs_bigger; }
.fs-biggest { font-size: $fs_biggest; }
.fs-large { font-size: $fs_large; }
.fs-larger { font-size: $fs_larger; }
.fs-largest { font-size: $fs_largest; }
