@import 'variables';

.form {

  .group {
    margin: 5px 0;

    &.disabled {
      opacity: 0.35;
      pointer-events: none;
    }

    input {
      padding: 0.75rem 1.125rem;
      box-sizing: border-box;
    }
    select {
      height: 46px !important;
    }
    textarea, input, select {
      outline: none;
      font-size: $fs_small;
      color: $black;
      line-height: 24px;
      background-color: $text_5;
      border: 1px solid $text_3;
      border-radius: 5px;
      transition: all 250ms;

      &[type='reset'], &[type='submit'] {
        color: $white;
        border: none;
      }

      &[type="submit"] {
        background-color: $main;
      }

      &[type="reset"] {
        background-color: $grey;
      }

      &:focus {
        border-color: $main;
      }

      &[readonly], &[disabled] {
        opacity: 0.35;
        pointer-events: none;
      }

      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active {
        transition: background-color 5000s ease-in-out 0s;
        -webkit-text-fill-color: $black;
      }
    }

    label {
      display: block;
      font-weight: 400;
      font-size: $fs_small;
      color: $text_2;
      margin: 10px 0;
      &:not(.non-order) { order: -1; }
    }

    small {
      font-size: $fs_small;
      color: $error_dark;
      margin-top: 5px;
    }

    .ng-select-disabled {
      opacity: 0.35 !important;
      pointer-events: none !important;
    }

    .ng-select-input-custom {

      .ng-value-container {
        margin-top: 10px;
        padding-left: 1.125em;

        .ng-input {
          padding-left: 0 !important;
        }

      }

      .ng-select-container {
        height: 46px;
        outline: none;
        font-size: $fs_small;
        color: $black;
        line-height: 24px;
        background-color: $text_5;
        border-radius: 5px;
        transition: all 250ms;
        border-color: $text_3;
        display: flex;
        align-items: stretch;
      }

      .ng-clear-wrapper, .ng-arrow-wrapper {
        display: flex;
        align-items: center;
        margin-top: 10px;
      }

    }

    &.error {
      input, select, textarea, .ng-select-input-custom .ng-select-container, .calendar input, .calendar .buttons button {
        border-color: $error_dark;
        background-color: rgba($error_dark, 0.02);
        &:focus {
          & ~ label {
            color: $text_2;
          }
          & ~ small {
            opacity: 0.5;
          }
        }
      }
      label {
        color: $error_dark;
      }
    }

    .input-with-buttons {
      display: flex;
      position: relative;

      input {
        flex: 1 1 auto;
        outline: none;
        font-size: $fs_normal;
        color: $black;
        line-height: 24px;
        background-color: $text_5;
        border: 1px solid $text_3;
      }

      input[readonly] ~ .buttons,
      input[disabled] ~ .buttons {
        opacity: 0.35 !important;
        pointer-events: none !important;
      }

      .buttons {
        display: flex;

        button {
          border-radius: 0;
          font-size: $fs_large;
          color: $black;
          line-height: 24px;
          background-color: $text_5;
          border: 1px solid $text_3;
          padding: 10px;
        }

      }

      &.prepend {
        input {
          border-radius: 0 5px 5px 0;
        }
        .buttons {
          order: -1;
          button:last-of-type {
            border-right: none;
          }

          button:first-of-type {
            border-radius: 5px 0 0 5px;
          }
        }
      }

      &.append {
        input {
          border-radius: 5px 0 0 5px;
        }
        .buttons {
          order: 1;
          button:first-of-type {
            border-left: none;
          }

          button:last-of-type {
            border-radius: 0 5px 5px 0;
          }
        }
      }

    }

  }
}
