<nb-card [nbSpinner]="isLoading" nbSpinnerStatus="primary">
  <nb-card-body>

    <div class="row">
      <div class="col-sm-12">
        <table class="w-100 table table-responsive d-lg-table">

          <thead>
            <div class="stc-head d-flex justify-content-end align-items-center">
              <h2 class="m-0 flex-grow-1">Registration Requests</h2>
              <button class="button btn btn-hero-secondary mx-2 fs-larger" (click)="openInviteModal()">Invite</button>
              <i class="icon ion-md-cog cursor-pointer fs-large" (click)="openPreferences()"></i>
            </div>
          </thead>

          <tbody>
            <ng2-smart-table-extended
              [settings]="settings"
              [source]="source"
              (userRowSelect)="onUserRowSelect($event)"
              (delete)="onDelete($event)"
              (edit)="onEdit($event)">
            </ng2-smart-table-extended>
          </tbody>

        </table>
      </div>
    </div>
  </nb-card-body>
</nb-card>
